**.txt
**.fits
**.png
**.xml
**.html
**.tiff
**.pdf
**.jar
**.rtf
**.reg
**.gif
**.fits.gz
**.pdf.gz
**.tar
**.tsv
**.pptx
**.doc
**.docx
Galaxy_Test/2022/secondary/axaff02022N002_VV001_vvref2.pdf.gz
Galaxy_Test/2198/secondary/axaff02198N002_VV001_vvref2.pdf.gz
Galaxy_Test/9518/primary/acisf09518N002_evt2.fits.gz
Galaxy_Test/2076/secondary/axaff02076N002_VV001_vvref2.pdf.gz
Galaxy_Test/797/secondary/axaff00797N002_VV001_vvref2.pdf.gz
Galaxy_Test/9518/secondary/axaff09518N002_VV001_vvref2.pdf.gz
/Galaxy_Test
/Terminal_Ouput_Log
/Master_Code/Master_Output/*
SQL_Standard_File/*
/leejjoon-pyregion-957b579/
._leejjoon-pyregion-957b579
/Thesis/
